<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Suite">
	<test name="Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<!-- Updated to reference existing test class -->
			<class name="com.netBanking.testCase.TC_LoginTest_01" />
		<!-- <class name="com.netBanking.testCase.TC_LoginDDT_002" />  -->
			<class name="com.netBanking.testCase.TC_AddNewCustomerTest_03" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->